@page "/"
@inject IHttpClientFactory HttpClientFactory;
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

To create new room set title and password:

<div>
    <label for="name">Room name:</label>
    <input @bind="_name" type="text" id="name" name="name"/>
</div>
<div>
    <label for="password">Password:</label>
    <input @bind="_password" type="password" id="password" name="password"/>
</div>
<div>
    <button @onclick="CreateRoomAsync" type="button">Create</button>
</div>

@code {
    private string _name = string.Empty;
    private string _password = string.Empty;

    private async Task CreateRoomAsync()
    {
        using var client = HttpClientFactory.CreateClient("apiClient");
        var response = await client.PostAsJsonAsync("/rooms", new { Name = _name, Password = _password });
        if (response.IsSuccessStatusCode)
        {
        }
    }
}